.button{
    margin:auto;
    display:block;
    padding: 7px 15px;
    background-color: transparent;
    border: 2px solid rgb(2, 24, 136);
    outline: transparent;
	color:rgb(2, 24, 136);
}
.button:hover {
	color: #FFf;
    border: 2px solid #FF166D;
	background:#FF166D;
}
.buy-button{
    margin:auto;
    display:block;
    padding: 7px 15px;
    background-color: transparent;
    border: 2px solid #FFf;
    outline: transparent;
  	color: #FFF;
}
.buy-button:hover {
    color: rgb(2, 24, 136);
    border: 2px solid rgb(2, 24, 136);
}
/*.span3 {
    border-bottom: none;
    padding: 15px 0px;
}*/
.span4 {
    border-bottom: none;
    padding: 15px 0px;
}
.errormsg {
    color: red;
    padding: 10px;
    font-weight: bold;
}

.successmsg {
  color: green;
  text-align: center;
  padding: 10px;
  font-weight: bold;
}

.buy_message {
		min-height: 42px;
    padding-top: 15px;
}

 .product_name, .product_cost, .product_amount {
   text-transform: uppercase;
 }
/*
@media (min-width: 601px) and (min-height: 1100px){
  .copyright {
    bottom: 25px;
    left: 0;
    position: absolute;
    right: 0;
  }
  html,body{
      height: 100%
  }
}
*/
#addTradeProductButton{
    display: block;
}

.prefilled {
  color: grey;
}
