.personal-score h3{
  padding-bottom: 10px;
  text-align: left;
}

.personal-score {
  border-left: solid #e91e63 3px;
  padding-left: 10px;
}

.personal-score td {
  padding-left: 20px;
}

h6 {
  text-align: left;
  padding: 5px;
}

#editprofilebutton {
  display: none;
}

#addfriendbutton {
  display: none;
}

#sendmessagebutton {
  display: none;
}

.errormessage {
  color: red;
}
