.personal-score h3{
  padding-bottom: 10px;
  text-align: left;
}

.personal-score {
  border-left: solid #e91e63 3px;
  padding-left: 10px;
}

.personal-score td {
  padding-left: 20px;
}

h6 {
  text-align: left;
  padding: 5px;
}

#editprofilebutton {
  display: none;
}

#addfriendbutton {
  display: none;
}

#deletefriendbutton {
  display: none;
}

#sendmessagebutton {
  display: none;
}

#editpicturebutton {
  display: none;
}

#friendrequeststab {
  display: none;
}

#pendingfriendstab {
  display: none;
}

#showfriendsdiv {
  margin-top: 10px;
}

.errormessage {
  color: red;
}
@media (min-width: 601px) and (min-height: 900px){
  .copyright {
    bottom: 25px;
    left: 0;
    position: absolute;
    right: 0;
  }
  html,body{
      height: 100%
  }
}
