
.admin_container {
  height:100vh;
  background-color: #003d71;
}

h3 {
  margin-bottom: 10px;
}

/* Sidepanel */

.admin_sidepanel {
  background-color: #003d71;
  color: lavender;
  height:100vh;
}

.admin_sidepanelcontent {
  margin: 20px;
  font-size: 16px;
}

.admin_sidenav {
  margin-top: 40px;
}

.admin_sidenav h3 {
  text-align: left;
  border-bottom: 1px solid white;
  margin-top: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-bottom: 10px;
  cursor: pointer;
}

li:hover ,.dropdown-toggle:hover {
  color: white !important;
  font-weight: bold !important;
}

.dropdown-toggle {
  cursor: pointer;
  font-weight: 400 !important;
  color: lavender !important;
}

/* Mainarea */

.admin_mainarea {
  background: #efefef;
  height:100vh;
  overflow-y: scroll;
}

.contentbox {
  background-color: white;
  margin: 20px;
  padding: 30px;
}

.admin_addproductarea {
  display: none;
}

.admin_bottombuttons {
  text-align: center;
  margin-bottom: 30px;
}

.greyrow {
  background-color: #fafafa;
}

.btn {
  min-width: 80px;
  margin: 10px;
}

.admin_addtranslationarea {
  display: none;
}

img {
  margin: 10px 0 10px 0;
}

tr {
  padding-top: 10px;
  padding-bottom: 10px;
}

td {
  max-width:200px;
  word-wrap:break-word;
  padding-right:10px;
}

#admin-translate-form-heading {
  margin-bottom: 20px;
}

.errormsg {
  color: red;
  text-align: center;
}

#admin-title {
  color:#fff;
}

#admin-manage-users, #admin-manage-chat {
  padding-top:20px;
}

.dropdown > ul {
  width: 75%;
  text-align: center;
}

@media (max-width: 992px) {
  .admin_sidepanel {
    height:70vh;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 2.5vw;
  }
}

body {
  width: 99%;
}
