
.admin_container {
  height:100vh;
}

/* Sidepanel */

.admin_sidepanel {
  background-color: #003d71;
  color: lavender;
  height:100vh;
}

.admin_sidepanelcontent {
  margin: 20px;
  font-size: 16px;
}

.admin_sidenav {
  margin-top: 40px;
}

.admin_sidenav h3 {
  text-align: left;
  border-bottom: 1px solid white;
  margin-top: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  padding-top: 10px;
  padding-bottom: 10px;
}

li:hover {
  color: white;
}

/* Mainarea */

.admin_mainarea {
  background: #efefef;
  height:100vh;
  overflow-y: scroll;
}

.contentbox {
  background-color: white;
  margin: 20px;
  padding: 30px;
}

.admin_addproductarea {
  display: none;
}

.admin_addproductform {
}

.admin_bottombuttons {
  text-align: center;
  margin-bottom: 30px;
}

.greyrow {
  background-color: #fafafa;
}

.btn {
  min-width: 80px;
  margin: 10px;
}

.admin_addtranslationarea {
  display: none;
}

img {
  margin: 10px 0 10px 0;
}

tr {
  padding-top: 10px;
  padding-bottom: 10px;
}

#admin-translate-form-heading {
  margin-bottom: 20px;
}

.errormsg {
  color: red;
  text-align: center;
}
