<phpunit>
    <testsuites>
        <testsuite name="Test">
            <directory>./</directory>
        </testsuite>
    </testsuites>

    <filter>
      <whitelist>
          <directory suffix=".php">../Backend/php/</directory>
          <exclude>
            <file>../Backend/php/rb.php</file>
          </exclude>
      </whitelist>
  </filter>

  <logging>
      <log type="testdox-html" target="testdox.html"/>
      <log type="coverage-html" target="/coverage" charset="UTF-8"
          yui="true" highlight="true" lowUpperBound="35" highLowerBound="70"/>
      <log type="coverage-clover" target="report.xml" charset="UTF-8"
          yui="true" highlight="true"
          lowUpperBound="50" highLowerBound="80"/>
      <log type="junit" target="logfile.xml" logIncompleteSkipped="false"/>
  </logging>
</phpunit>
